body     {
    font-family: Verdana;
}

div h2 {
    text-transform: uppercase;
    font-size: 3vh;
    word-wrap: normal;
   }

.bigger {
    font-size: 120%;
    text-transform: uppercase;
}

@media all and (max-width: 992px) {
    #tlo { 
        background-image: url(../obrazy/man-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        text-align: center;
        }
    
    #tekst {
        margin: 0 auto;
        text-align: center;
    }
}
    
   @media all and (min-width: 992px) and (max-width: 1169px) {
    #tlo { 
        background-image: url(../obrazy/man-2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 70vh;
        width: auto;
        }
    
    #tekst {
        position: absolute;
        top: 0;
        right: 0;   
        color: white;
        padding: 3%;  
    }
}

@media all and (min-width: 1170px) {
    body { 
        background-image: url(../obrazy/man-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        overflow: hidden;
        width: 100%;
        }
    
    #tekst {
        position: absolute;
        color: white;
        padding: 3%;   
        top: 40%;
    }
}