body {    
    background-color: lightgray;
    font-size: 14px;
}

form {
    font-family: sans-serif, Arial;
}

input[type=text] {
    width: 150px;
    padding: 4px 4px;
    margin: 4px 0;
    box-sizing:border-box;
}

input[type=email] {
    width: 150px;
    padding: 4px 4px;
    margin: 4px 0;
    box-sizing:border-box;
}

select {
    padding: 4px 4px;
    margin: 4px;
}

input[type=radio] {
    margin: 4px;
    box-sizing:border-box;
}

input[type=checkbox] {
    margin: 4px;
    box-sizing:border-box;
}

textarea {
    width: 250px;
    height: 50px;
}

input[type=submit] {
    background-color: darkorange;
    color: black;
    text-decoration-style: solid;
    font-size: 16px;
    padding: 8px 8px;  
}