body {    
    background-color: lightgray;
    font-size: 14px;
}

form {
    font-family: sans-serif, Arial;
    color: white;
    background-color: #213b50;
    padding: 15px;
}

input {
    display: inline-block;
    width: 250px;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 0;
}

input select,[type=text], [type=email], select, textarea {     
    background-color : #2b4a64;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    width: 250px;
}

[type=radio], [type=checkbox] {
    width:auto;
}
textarea {
    width: 250px;
    height: 100px;
}

input:focus { 
    background-color: #4e708c;
    border: 2px solid white;
    outline: 0;

}
input[type=submit] {
    background-color: lime;
    color: black;
    text-decoration-style: solid;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px;  
    box-sizing: border-box;
    width: auto;
}